html {
  background-color: #FFF6F6;
}
body {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 10vh;
  margin-bottom: 10vh;

  font-family: 'Courier New';
  text-align: justify;
  line-height: 2;
}
header {
  text-align: center;
}
h1 {
  line-height: 3;
}
h2 {
  margin-bottom: 10vh;
}
h1,h2,h3, h4 {
  text-align: center;
  color: #FCB5BB;
}
h4 {
  text-align: left;
}
button {
  margin-left: 3vw;
  margin-right: 3vw;
}
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
  border: 1px solid #555;
}
th, td {
  padding-left: 3vw;
  padding-right: 3vw;
}
th {
  background-color: #FCB5BB;
  color: white;
}
td {
  text-align: center;
  vertical-align: middle;
}
a:link {
  color: #A6CAD9;
  text-decoration: none;
}
a:visited {
  color: #90D2D9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
img {
  width: 25vw;
}
.navl {
  margin-left: 3vw;
  margin-right: 3vw;
}
.buttonHolder {
  text-align: center;
}
#currTime {
  color: #A6CAD9;
}
