body {
  margin: 0 auto;
  max-width: 50em;

  font-family: "Helvetica", "Arial", sans-serif;

  text-align: justify;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

h1,
h2,
strong {
  color: #333;
}

header {
  text-align: center;
}

h1 {
  margin-top: 1.5em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

ul {
  margin-bottom: 0;
}

ol li {
  background: #FFDFE3;
  margin: 2em 0;
  padding: 2em 4em;
}

ul li {
  margin: 0;
  padding: 0.5em;
}
