<div class="container">
  <section>
    <h2>Ejercicios</h2>
    <h3>Ex. 1 Promedio</h3>
    <form action="form_promedio.php" method="post">
     <p>Escribe los números separados por comas: <input type="text" name="numeros" /></p>
     <p><input type="submit"></p>
    </form>

    <h3>Ex. 2 Mediana</h3>
    <form action="form_mediana.php" method="post">
     <p>Escribe los números separados por comas: <input type="text" name="numeros" /></p>
     <p><input type="submit"></p>
    </form>

    <h3>Ex. 3 Calcular varios</h3>
    <form action="form_multiple.php" method="post">
     <p>Escribe los números separados por comas: <input type="text" name="numeros" /></p>
     <p><input type="submit"></p>
    </form>

    <h3>Ex. 4 Tabla</h3>
    <form action="form_table.php" method="post">
     <p>Escribe un número: <input type="number" name="num"/></p>
     <p><input type="submit"></p>
    </form>

    <h3>Ex. 5 Arrival of the general</h3>
    <p>El siguiente ejercicio es un problema de code forces. Está en inglés porque así va el problema, no me critiquen.</p>
    <p>A Ministry for Defense sent a general to inspect the Super Secret Military Squad under the command of the Colonel SuperDuper. Having learned the news, the colonel ordered to all n squad soldiers to line up on the parade ground.</p>
    <p>By the military charter the soldiers should stand in the order of non-increasing of their height. But as there's virtually no time to do that, the soldiers lined up in the arbitrary order. However, the general is rather short-sighted and he thinks that the soldiers lined up correctly if the first soldier in the line has the maximum height and the last soldier has the minimum height. Please note that the way other solders are positioned does not matter, including the case when there are several soldiers whose height is maximum or minimum. Only the heights of the <strong>first</strong> and the <strong>last</strong> soldier are important.</p>
    <p>For example, the general considers the sequence of heights (4, 3, 4, 2, 1, 1) correct and the sequence (4, 3, 1, 2, 2) wrong.</p>
    <p>Within one second the colonel can swap any two neighboring soldiers. Help him count the minimum time needed to form a line-up which the general will consider correct.</p>
    <h5>Input:</h5>
    <p>The first input line contains the only integer n (2 ≤ n ≤ 100) which represents the number of soldiers in the line. The second line contains integers a1, a2, ..., an (1 ≤ ai ≤ 100) the values of the soldiers' heights in the order of soldiers' heights' increasing in the order from the beginning of the line to its end. The numbers are space-separated. Numbers a1, a2, ..., an are not necessarily different.</p>
    <h5>Output:</h5>
    <p>Print the only integer — the minimum number of seconds the colonel will need to form a line- up the general will like.</p>
    <p>[1]</p>
    <form action="form_arrival_gral.php" method="post">
     <p>Ingresa el número de soldados: <input type="number" name="n"/></p>
     <p>Ingresa la altura de cada uno de esos soldados (separadas por un espacio): <input type="text" name="array_alturas"/></p>
     <p><input type="submit"></p>
    </form>
  </section>

  <section id="preguntas">
    <h2>Preguntas</h2>
    <ol>
      <li>
        <strong>¿Qué hace la función phpinfo()? Describe y discute 3 datos que llamen tu atención.</strong>
        <ul>
          <li>"Muestra gran cantidad de información sobre el estado actual de PHP. Incluye información sobre las opciones de compilación y extensiones de PHP, versión de PHP, información del servidor y entorno (si se compiló como módulo), entorno PHP, versión del OS, rutas, valor de las opciones de configuración locales y generales, cabeceras HTTP y licencia de PHP." [2]</li>
          <li>Me llama la atención que puedas obtener desde ahí los créditos de php jaja se me hizo muy vaciado, como: "Hey! Sé que lo usas y que está cool, agradécenos jojo."</li>
          <li>Creo que nos podríamos evitar mucho de esto si se estandarizara y se instalara el mismo php en todas las compus. Sé que es un poco utópico, pero no creo que sea imposible. Me choca que haya tantas versiones de todo porque nunca sé cuál bajar, aunque siempre bajo la más reciente. Siempre moderna, nunca inmoderna.</li>
          <li>Está padre que puedas ver toda esa info para así poder tomar decisiones en tus programitas para que sea compatible para todo el mundo, esto promueve la inclusión jaja debería haber algo así para los humanos ahora que está muy de moda eso.</li>
        </ul>
      </li>
      <li>
        <strong>¿Qué cambios tendrías que hacer en la configuración del servidor para que pudiera ser apto en un ambiente de producción?</strong>
        <ul>
          <li>No estoy segura, pero me imagino que habría que configurar el entorno de php. Porque no es como que viene ahí todo bien al 100 como tú quieres que esté, entonces tienes que modificar la configuración de php del server para que jale con tu sistemilla.</li>
        </ul>
      </li>
      <li>
        <strong>¿Cómo es que si el código está en un archivo con código html que se despliega del lado del cliente, se ejecuta del lado del servidor? Explica.</strong>
        <ul>
          <li>Justo para eso es php, al principio no entendía por qué usar php, pero ahora sé que si tus archivos estan en el servidor tienes que programar que se despliegue del lado del cliente de forma que este pueda interpretar el código, entonces usas php en el servidor para generar dinámicamente el código que va a ejecutar el cliente.</li>
        </ul>
      </li>
    </ol>
  </section>
</div>
