    <div class="container">
      <footer>
        <h3>Referencias:</h3>
        <p>
          [1] http://codeforces.com/contest/144/problem/A
          <br>[2] http://php.net/manual/es/function.phpinfo.php
        </p>
      </footer>
    </div>

    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
