h1,h2,h3,h4,header{text-align:center}a:link,a:visited{text-decoration:none}html{background-color:#EDF7F5}body{font-family:'Courier New';text-align:justify;line-height:2;margin:10vh 15vw}h1{line-height:3}h2{margin-bottom:10vh}h1,h2,h3,h4{color:#204E5F}.navl{margin-left:5vw;margin-right:5vw}a:link{color:#FF8984}a:visited{color:#EF6974}a:active,a:hover{text-decoration:underline}img{width:25vw}ol li ul{margin-bottom:3vh;margin-top:1vh}
