html {
  background-color: #EDF7F5;
}
body {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 10vh;
  margin-bottom: 10vh;

  font-family: 'Courier New';
  text-align: justify;
  line-height: 2;
}
header {
  text-align: center;
}
h1 {
  line-height: 3;
}
h2 {
  margin-bottom: 10vh;
}
h1,h2,h3,h4 {
  text-align: center;
  color: #204E5F;
}
.navl {
  margin-left: 5vw;
  margin-right: 5vw;
}
a:link {
  color: #FF8984;
  text-decoration: none;
}
a:visited {
  color: #EF6974;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
img {
  width: 25vw;
}
