body {
  margin: 0 auto;
  max-width: 50em;

  font-family: "Helvetica", "Arial", sans-serif;

  text-align: justify;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

nav a {
  text-align: center;
  display: block;
}

h1,
h2,
h3,
strong {
  color: #333;
}

header {
  text-align: center;
}

h1 {
  margin-top: 1.5em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

ol {
  list-style-type: none;
}

ul {
  margin-bottom: 0;
}

ol li {
  background: #FFDFE3;
  margin: 2em 0;
  padding: 2em;
}

ul li {
  margin: 0;
  padding: 0.5em;
}

a {
  margin: 2em;
  padding: 1em 2em;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #EA6F92;
}

a:hover {
  background-color: #FFDFE3;
  color: #333;
}

a#submit {
  background-color: #FFDFE3;
  color: #333;
  padding: 1em 8.5em;
  margin-left: 0;
}
#submit:hover {
  background-color: #EA6F92;
}

form {
  float: left;
  margin-right: 2em;
}

input {
  width: 20vw;
  height: 4vh;
}

#formCorreo input {
  width: 25vw;
  height: 4vh;
}

.login i {
  color: #EA6F92;
  font-size: 1em;
  margin-left: 0.5em;
}
.login .correo {
  color: #EA6F92;
  font-size: 2em;
  margin-left: 0.5em;
  margin-right: 1em;
}

.validationInfo {
  display: none;
  color: #EA6F92;
  font-size: 0.8em;
  line-height: 0.5;
}

#pInfoUsuario, #pInfoContrasena, #pConfirmacion {
  display: none;
  background-color: #FFDFE3;
  padding: 1em;
  margin-top: 2em;
  width: max-content;
}

#extraInfo, #confirmacion {
  overflow: hidden;
}

#links {
  text-align: center;
  margin-top: 2em;
}
