nav {
  margin-top: 3em;
  margin-bottom: 4em;
}

form a {
  margin-top: 1em;
}

#carrito .card.horizontal .card-image img {
  width: 10em;
  height: auto;
}

#carrito .card .card-stacked .card-content {
  padding-bottom: 0;
}

.card-content form .input-field input[type=number]:focus {
  border-bottom: 1px solid #42a5f5;
}

#cuenta .card-content {
  padding-bottom: 0;
}

#cuenta .card-action .row {
  margin-bottom: 0;
}

#carrito, #carritoIPad11, #carritoIPad12, #carritoApplePencil {
  display: none;
}
