body {
  margin: 0 auto;
  max-width: 50em;

  font-family: "Helvetica", "Arial", sans-serif;

  text-align: justify;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

nav a {
  text-align: center;
  display: block;
}

.dark {
  color: #333;
}

header {
  text-align: center;
}

h1 {
  margin-top: 1.5em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

a {
  margin: 2em;
  padding: 1em 2em;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #EA6F92;
}

a:hover {
  background-color: #FFDFE3;
  color: #333;
}

ol {
  list-style-type: none;
}

ul {
  margin-bottom: 0;
}

ol li {
  background: #FFDFE3;
  margin: 2em 0;
  padding: 2em;
}

ul li {
  margin: 0;
  padding: 0.5em;
}

input {
  width: 20vw;
  height: 4vh;
}

.login i {
  color: #EA6F92;
  font-size: 1em;
  margin-left: 0.5em;
}

.validationInfo {
  display: none;
  color: #EA6F92;
  font-size: 0.8em;
  line-height: 0.5;
}

#pInfoUsuario, #pInfoContrasena {
  display: none;
  background-color: #FFDFE3;
  padding: 1em;
  margin-top: 2em;
  width: max-content;
}

#marca_de_agua {
  font-size: 20em;
  color: rgba(52, 166, 214, 0.4); /*Así le doy opacidad (con el 0.4)*/
  z-index: 9999; /*Esto es para que salga encima de el contenido, es un número grande random*/

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /*Esto es para que salga en el centro*/
  display: flex;
  align-items: center;
  justify-content: center;

  /*Esto es para que el usuario no pueda interactuar con la marca de agua*/
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#form {
  position: relative;
  width: 30vw;
}

#extraInfo {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 100%;
}

#dropDiv {
  background-color: #84E1FF;
  width: 15em;
  height: 15em;
  padding: 1em;
}

#drag1 {
  width: 15em;
}
