.error {
  color: #8c9eff;
}

[type="radio"]:checked + span:after {
  background-color:#8c9eff;
  border: 2px solid #8c9eff;
}


form .row .col .input-field input[type=text]:focus {
  border-bottom: 1px solid #8c9eff;
}

form .row .col .input-field input[type=text]:focus + label {
     color: #283593;
}

ul li strong {
  font-size: 1.3em;
}
