<h2>Registra un incidente</h2>
<div class="row">
  <div class="col m7">
    <div id="mensaje" class="red lighten-1"><p class="center">Ingresa todos los campos para registrar el incidente.</p></div>
  </div>
</div>
<div class="row" id="formaRegistro">
    <form class="col s12" name="forma" action="">
      <div class="row">
        <div class="input-field col s12">
          <select name="lugar" id="lugar">
            <?php printOptionsLugares(); ?>
          </select>
          <label>¿Dónde es el incidente?</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <select name="tipo" id="tipo">
              <?php printOptionsTipos(); ?>
            </select>
            <label>¿Cuál es el incidente?</label>
        </div>
      </div>
      <div class="row">
          <button class="btn waves-effect waves-light" id="enviar" name="enviar">Registrar
                <i class="material-icons right">send</i>
          </button>
      </div>
    </form>
  </div>