    <h2 id="numIncidentes"></h2>
      <table class="highlight">
        <thead>
          <tr>
              <th>Hora y fecha</th>
              <th>Lugar</th>
              <th>Tipo</th>
          </tr>
        </thead>

        <tbody id="bodyIncidentes">
          
        </tbody>
      </table>
      