<div class="container">

  <header>
    <h1 class="indigo-text">Lab 11. Formas con php</h1>
  </header>

  <section>
    <h3 class="indigo lighten-1 white-text">Forma 1:</h3>
    <p><span class="error">* campo obligatorio</span></p>

    <form method="POST" action="lab11_controller.php">
      <div class="row">

        <div class="col m6">
          <div class="row">
            <div class="input-field col m12">
              <span class="error">* <?php echo $nombreErr;?></span>
              <input placeholder="Sandra" type="text" name="nombre" value="<?php echo $nombre;?>">
              <label for="nombre">Nombre</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col m12">
              <span class="error">* <?php echo $emailErr;?></span>
              <input placeholder="sandra@yahoo.mx" type="text" name="email" value="<?php echo $email;?>">
              <label for="nombre">Email</label>
            </div>
          </div>
        </div>

        <div class="col m4 offset-m1">
          <label for="genero">Género</label>
          <span class="error">* <?php echo $generoErr;?></span>
          <p>
            <label>
              <input name="genero" type="radio" value="mujer" <?php if (isset($genero) && $genero=="mujer") echo "checked";?> />
              <span>Mujer</span>
            </label>
          </p>
          <p>
            <label>
              <input name="genero" type="radio" value="hombre" <?php if (isset($genero) && $genero=="hombre") echo "checked";?> />
              <span>Hombre</span>
            </label>
          </p>
          <p>
            <label>
              <input name="genero" type="radio" value="otro" <?php if (isset($genero) && $genero=="otro") echo "checked";?> />
              <span>Otro</span>
            </label>
          </p>
        </div>

      </div>

      <button class="btn waves-effect waves-light indigo lighten-1" type="submit" name="submit">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </section>

  <section>
    <h3 class="indigo lighten-1 white-text" id="preguntas">Preguntas:</h3>
    <ul class="collection">
      <li class="collection-item">
        <strong>¿Por qué es una buena práctica separar el controlador de la vista?</strong>
        <ul>
          <li>Porque es importante separar las cosas por funcionalidad, es como por
          modularidad. Si algo está fallando sabes directamente dónde buscar. Si
          lo dejas todo junto luego tienes un reguero de mil cosas distintas por
          aquí y por allá y tu código se vuelve más mantenible. Hay que separar
          todo en base a su función.</li>
        </ul>
      </li>

      <li class="collection-item">
        <strong>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</strong>
        <ul>
          <li>$GLOBALS — Hace referencia a todas las variables disponibles en el ámbito global</li>
          <li>$_SERVER — Información del entorno del servidor y de ejecución</li>
          <li>$_FILES — Variables de subida de ficheros HTTP</li>
          <li>$_COOKIE — Cookies HTTP</li>
          <li>$_SESSION — Variables de sesión</li>
          <li>$_REQUEST — Variables HTTP Request</li>
          <li>$_ENV — Variables de entorno</li>
          <li>[1]</li>
        </ul>
      </li>

      <li class="collection-item">
        <strong>Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención.</strong>
        <ul>
          <li>easter_days()	Regresa el número de días después del 21 de Marzo, en que es Pascua para un año en específico.</li>
          <li>cal_days_in_month()	Regresa el número de días en un mes para un año y calendario en específico.</li>
          <li>[2]</li>
        </ul>
      </li>

      <li class="collection-item">
        <strong>¿Qué es XSS y cómo se puede prevenir?</strong>
        <ul>
          <li>XXS significa Cross Site Scripting y es cuando alguien inyecta scripts a tu sitio web.</li>
          <li>Puedes prevenir este tipo de ataques revisando los inputs que te dan con las funciones htmlspecialchars() o htmlentities(). Lo que hacen estas funciones es que convierten caracteres de código en caracteres que no tienen un significado en código.</li>
          <li>[3]</li>
        </ul>
      </li>
    </ul>
  </section>

  <footer>
    <h3 class="indigo-text" id="referencias">Referencias:</h3>
    <p>[1] http://php.net/manual/es/reserved.variables.environment.php</p>
    <p>[2] https://www.w3schools.com/php/php_ref_calendar.asp</p>
    <p>[3] https://medium.com/@jpmorris/how-to-prevent-xss-attacks-by-escaping-output-in-php-942204bf184</p>
  </footer>

</div>
