		</div>

		<script src="../js/materialize.min.js"></script>
		<script type="text/javascript">
			M.AutoInit();
		</script>
		<script src="../js/archivo.js"></script>
		<script src="../js/alejandro_usuario.js"></script>
		<script src="../js/brenda_pedidos.js"></script>
		<script src="../js/sandra_pendientes.js"></script>
		<script src="../js/ulises_ajax.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="../js/mailgun_validator.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
	</body>
</html>
