<div class="container">
	<div class="row">
		<div class="col l10 m10">
			<blockquote class="center">
				<h4>Introduce tu email</h4>
			</blockquote>
			<form method="POST" action="forgotForm.php" id="forma">
				<p>Se enviarán instrucciones a tu correo</p>
				<input type="email" id="email" name="email" placeholder="Email" required>
		            <!--<input id="email_inline" name="email_inline" type="email" class="validate">
		            <label for="email_inline">Email</label>
		            <span class="helper-text" data-error="wrong" data-success="right">Se enviarán indicaciones a tu correo</span>-->
		            <br><br>
		            <button type="submit" class="btn waves-effect waves-light small-font brown lighten-4 center"> Enviar </button>
             	<!-- Email : <input type="email" name="email" id="email"> <i class="material-icons right">send</i>
             	</button> -->
             </form>
         </div>
     </div>
 </div>