<div class="row no-margin-bottom">
	<div class="col m12">
		<div class="row">
			<div class="col m12">
				<h3>Modificar Menú</h3>
			</div>
		</div>
		<div class="row menu">
			<div class="col m4">
				<a class="waves-effect waves-light btn light-blue darken-1 menu-btn valign-wrapper" href="menu_bebidas.php"><i class="material-icons">local_cafe</i><p>Bebidas</p></a>
			</div>

			<div class="col m4">
				<a class="waves-effect waves-light btn lime darken-1 menu-btn valign-wrapper" href="menu_comidas.php"><i class="material-icons">local_dining</i><p>Comidas</p></a>
			</div>

			<div class="col m4">
				<a class="waves-effect waves-light btn pink darken-1 menu-btn valign-wrapper" href="menu_postres.php" id="postres_menu"><i class="material-icons">cake</i><p>Postres</p></a>
			</div>
			<div class="row inferior">
				<div class="col m12">
					<a class="waves-effect waves-light btn green darken-1 wide-btn valign-wrapper" href="principal.php"><i class="material-icons bigger-icon">home</i></a>
				</div>
			</div>
		</div>
	</div>
</div>
  <style type="text/css">
    body,html{
      height:100%;
    }
    .inferior{
      position:absolute; 
      left:0px;
      right:0px; 
      bottom:0px; 
      z-index:0;
     }
     
     .menu{
     	height:30vw;
     	padding-bottom: 50px;
     }
  </style>