<br>

<section>
	<div class="container">
		<div class="row">
			<div class="col s12 m10 l8">
				<h5><strong> <i class="material-icons prefix">person_add</i> Alta de Usuario </strong></h5>
				<br>
				Favor de llenar el siguiente formulario para dar de alta un nuevo usuario, no dejar campos en blanco.
				<br><br>
				<form class="col s12 m12 l12" method="POST" action="nuevoUsuario.php" id="forma" onsubmit="return addDatos()">
					<div class="input-field col l12 m12">
					<input class="form-control" type="text" id="name" name="name" required>
					<label for="name">Nombre</label>
					<span id="nameWrong" style="color:red"> </span>
					</div>
					<br><br>
					<div class="input-field col l12 m12">
					<input class="form-control" type="text" id="lastname" name="lastname" required>
					<label for="lastname">Apellido Paterno</label>
					<span id="lastnameWrong" style="color:red"> </span>
					</div>
					<br><br>
					<div class="input-field col l12 m12">
					<input class="form-control" type="text" id="lastname2" name="lastname2">
					<label for="lastname2">Apellido Materno</label>
					<span id="lastname2Wrong" style="color:red"> </span>
					</div>
					<br><br>
					<!--Correo y teléfono se validan por HTML-->
					<div class="input-field col l12 m12">
					<input class="form-control" type="email" id="email" name="email" required>
					<label for="email">Correo electrónico</label>
					<span id="emailWrong" style="color:red"> </span>
					</div>
					<br><br>
					<div class="input-field col l12 m12">
					<input class="form-control" type="number" id="phone" name="phone"onkeypress="return isNumberKey(event)" required>
					<label for="phone">Teléfono</label>
					<span id="phoneWrong" style="color:red"> </span>
					</div>
					<br><br>
					<div class="input-field col l12 m12">
					<input class="form-control datepicker" type="text" id="fechanacimiento" name="fechanacimiento" required>
					<label for="fechanacimiento">Fecha de nacimiento (aaaa/mm/dd)</label>
					<span id="fechaWrong" style="color:red"> </span>
					</div>
					<br><br>
					<div class="input-field col l12 m12">
					<input class="form-control" type="password" id="passwords" name="passwords" required>
					<label for="email">Contraseña</label>
					<span id="messages" style="color:red"> </span>
					</div>
					<br><br>
					<div class="input-field col l12 m12">
					<input class="form-control" type="password" id="passwordss" name="passwordss" required>
					<label for="email">Confirma tu contraseña</label>
					<span id="messagess" style="color:red"> </span>
					</div>
					<br><br>
					<button type="submit" class="btn waves-effect waves-light brown lighten-3">Agregar Usuario</button>
					<br>
				</form>
			</div>
			<div class="col s12 m6 l4">
				<img src="../img/imo.jpeg" alt="IMO logo" class="center">
			</div>
		</div>
	</section>
