<div class="row no-margin-bottom">
	<div class="col m9">
		<div class="row no-margin-bottom">
			<div class="col m12">
				<h3 class="no-margin-bottom">Saldos Pendientes</h3>
			</div>
		</div>

		<div class="row no-margin-bottom">
			<div class="col m8 offset-m2">
				<div class="row no-margin-bottom">
					<div class="input-field col m12">
						<i class="material-icons prefix">search</i>
						<input type="text" id="autocomplete-input" class="autocomplete">
						<label for="autocomplete-input">Buscar</label>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col m12 medium-table">
				<table class="centered">
					<thead>
						<tr>
							<th>Usuario</th><th>Clave</th><th>Monto</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Alejandro Gleason</td><td>0123</td><td>$250</td>
						</tr>
						<tr>
							<td>Brenda Rivera</td><td>0128</td><td>$20</td>
						</tr>
						<tr>
							<td>Ulises Almaguer</td><td>0132</td><td>$5</td>
						</tr>
						<tr>
							<td>Salvador Espinosa</td><td>0149</td><td>$10</td>
						</tr>
						<tr>
							<td>Carlos García</td><td>0021</td><td>$7.50</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col m12">
				<a class="waves-effect waves-light btn green darken-1 wide-btn valign-wrapper">Pagar total</a>
			</div>
		</div>
	</div>

	<div class="col m3">
		<div class="row">
			<div class="col m12">
				<a class="waves-effect waves-light btn light-blue darken-1 wide-btn valign-wrapper" href="principal.php"><i class="material-icons bigger-icon">home</i></a>
			</div>
		</div>

		<div class="row">
			<div class="col m12">
				<a class="waves-effect waves-light btn indigo darken-1 large-btn valign-wrapper">Ver detalles</a>
			</div>
		</div>

		<div class="row">
			<div class="col m12">
				<a class="waves-effect waves-light btn lime darken-1 large-btn valign-wrapper">Otra cantidad</a>
			</div>
		</div>
	</div>
</div>
