<div class="row no-margin-bottom">
	<div class="col m3">
		<div class="row">
			<div class="col m12">
				<a class="waves-effect waves-light btn orange darken-1 reciente-btn valign-wrapper">Reciente 1</a>
			</div>
		</div>
		<div class="row">
			<div class="col m12">
				<a class="waves-effect waves-light btn orange darken-1 reciente-btn valign-wrapper">Reciente 2</a>
			</div>
		</div>
		<div class="row">
			<div class="col m12">
				<a class="waves-effect waves-light btn orange darken-1 reciente-btn valign-wrapper">Reciente 3</a>
			</div>
		</div>
		<div class="row">
			<div class="col m12 small-scrollable-table">
				<a href="modificar_pedido.php">
					<?=$table?>
				</a>
			</div>
		</div>
	</div>

	<div class="col m9">
		<div class="prod-btn-container">
			<div class="row prod-1row">
				<div class="col m4 full-height">
					<a class="waves-effect waves-light btn light-blue darken-1 main-btn valign-wrapper" href="productosDisp.php?categoria=2"><i class="material-icons">local_cafe</i><p>Bebidas</p></a>
				</div>

				<div class="col m4 full-height">
					<a class="waves-effect waves-light btn lime darken-1 main-btn valign-wrapper" href="productosDisp.php?categoria=1"><i class="material-icons">local_dining</i><p>Comidas</p></a>
				</div>

				<div class="col m4 full-height">
					<a class="waves-effect waves-light btn pink darken-1 main-btn valign-wrapper" href="productosDisp.php?categoria=3"><i class="material-icons">cake</i><p>Postres</p></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col m12">
				<a class="waves-effect waves-light btn green darken-1 wide-btn valign-wrapper" href="pago.php">Pagar</a>
			</div>
		</div>
	</div>
</div>
