<h2>Agregar producto al inventario</h2>
<div class="row">
  <form class="col m6" action="agregar.php" method="post">
    <div class="row">
      <div class="col m8 input-field">
        <input id="nombre" name="nombre" type="text" class="validate" required>
        <label for="nombre">Nombre del producto</label>
      </div>
      <div class="col m4 input-field">
        <input id="precio" name="precio" type="number" class="validate" required>
        <label for="precio">Precio</label>
      </div>
    </div>
    <div class="row">
      <div class="col m12 input-field">
        <input id="descripcion" name="descripcion" type="text" class="validate" required>
        <label for="descripcion">Descripción</label>
      </div>
    </div>
    <div class="row">
      <div class="col m12 input-field">
        <input id="caducidad" name="caducidad" type="text" class="datepicker">
        <label for="caducidad">Fecha de caducidad</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m8">
        <select name="categoria" id="categoria" required>
          <option value="" disabled selected>Elige una categoría</option>
          <option value="1">Comida</option>
          <option value="2">Bebida</option>
          <option value="3">Postre</option>
        </select>
        <label>Categoría</label>
      </div>
      <div class="switch col m4">
        <p>Disponible</p>
        <label>
          No
          <input name='disponible' id="disponible" type='hidden' value='0'>
          <input type="checkbox" name="disponible" id="disponible" checked value='1'>
          <span class="lever"></span>
          Sí
        </label>
      </div>
    </div>

    <button class="btn waves-effect waves-light indigo lighten-1" type="submit" name="submit">Agregar</button>
  </form>
</div>
