<h2>Producto a eliminar:</h2>
<table class="highlight centered">
  <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Fecha de Caducidad</th>
        <th>Disponible</th>
        <th>Categoría</th>
    </tr>
  </thead>
  <tbody>
    <td><?=$_SESSION['id']?></td>
    <td><?=$_SESSION['nombre']?></td>
    <td>$<?=$_SESSION['precio']?></td>
    <td><?=$_SESSION['descripcion']?></td>
    <td><?=$_SESSION['fechaCaducidad']?></td>
    <td><?=$_SESSION['disponible']?></td>
    <td><?=$_SESSION['categoria']?></td>
  </tbody>
</table>
<h2>¿Seguro lo quieres eliminar?</h2>
<div class="row">
  <div class="col m6">
    <a class='waves-effect waves-light btn-small green lighten-1' href='eliminar.php?eliminar=si'>Sí</a>
  </div>
  <div class="col m6">
    <a class='waves-effect waves-light btn-small red lighten-1' href='eliminar.php'>No</a>
  </div>
</div>
