<h2>Eliminar producto</h2>
<div class="row">
  <div class="row">
    <div class="col m6 offset-m3">
      <form class="row" action="eliminar.php" method="post">
        <div class="input-field col m9">
          <input type="text" id="search_product" name="search_product">
          <label for="search_product">Buscar por nombre</label>
        </div>
        <div class="col m3">
          <button class="btn waves-effect waves-light indigo lighten-1" type="submit" name="submit">Ir
            <i class="material-icons right">search</i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <p>Da clic en el id del producto a eliminar. Puedes utilizar la barra de búsqueda para encontrar el producto.</p>
  <?php if($table1!="") { ?>
    <table class="highlight centered">
      <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th>Fecha de Caducidad</th>
            <th>Disponible</th>
            <th>Categoría</th>
        </tr>
      </thead>
      <tbody>
        <?=$table1?>
      </tbody>
    </table>
  <?php } else { ?>
    <p>No hay prodructos con la secuencia: "<?=$_POST['search_product']?>" en el inventario.</p>
    <div class='row'>
      <div class='col m4'><a class='waves-effect waves-light btn-small indigo lighten-1' href='agregar.php'>Agregar producto</a></div>
      <div class='col m4'><a class='waves-effect waves-light btn-small indigo lighten-1' href='index.php'>Volver al inicio</a></div>
    </div>
  <?php } ?>
</div>
