<h2>Lab 16: manipulación de registros de la BD</h2>

<br>
<h4>Opciones:</h4>
<div class="row">
  <div class="col m12">
    <p>¿Qué operación deseas realizar?</p>
    <div class="row">
      <div class="col m3">
        <a class="waves-effect waves-light btn-small indigo lighten-1" href="index.php?func=agregar">Agregar producto</a>
      </div>
      <div class="col m3">
        <a class="waves-effect waves-light btn-small indigo lighten-1" href="index.php?func=modificar">Modificar producto</a>
      </div>
      <div class="col m3">
        <a class="waves-effect waves-light btn-small indigo lighten-1" href="index.php?func=eliminar">Eliminar producto</a>
      </div>
      <div class="col m3">
        <a class="waves-effect waves-light btn-small indigo lighten-1" href="index.php?func=ver">Ver productos</a>
      </div>
    </div>
  </div>
</div>


<section  id="preguntas">
  <h4>Preguntas</h4>
  <ul class="collection">
    <li class="collection-item">
      <strong>¿Por qué es una buena práctica separar el modelo del controlador?</strong>
      <ul>
        <li>Porque los elementos deben estar ordenados conforme a su función.</li>
        <li>Se genera código más mantenible porque es más fácil identificar errores y corregirlos.</li>
        <li>Brinda claridad al programador.</li>
      </ul>
    </li>

    <li class="collection-item">
      <strong>¿Qué es SQL injection y cómo se puede prevenir?</strong>
      <ul>
        <li>Es una técnica de inyección de datos que puede destruir tu DB, es una de las técnicas más comunes en web hacking. Mediante un input se pone código malvado SQL en tu página.</li>
        <li>Usar parámetros de SQL para protección. Son valores que se agregan a un query en tiempo de ejecución de forma controlada. El motor de SQL checa cada parámetro para asegurar que es correcto para su columna y que se trate literalmente, no como parte del SQL que se va a ejecutar.</li>
        <li>[1]</li>
      </ul>
    </li>
  </ul>
</section>

<footer id="referencias">
  <h4>Referencias:</h4>
  <p>[1] https://www.w3schools.com/sql/sql_injection.asp</p>
</footer>
