<h2>Producto a modificar:</h2>
<table class="highlight centered">
  <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Fecha de Caducidad</th>
        <th>Disponible</th>
        <th>Categoría</th>
    </tr>
  </thead>
  <tbody>
    <td><?=$_SESSION['id']?></td>
    <td><?=$_SESSION['nombre']?></td>
    <td>$<?=$_SESSION['precio']?></td>
    <td><?=$_SESSION['descripcion']?></td>
    <td><?=$_SESSION['fechaCaducidad']?></td>
    <td><?=$_SESSION['disponible']?></td>
    <td><?=$_SESSION['categoria']?></td>
  </tbody>
</table>
<h2>Nuevos valores:</h2>
<p>No es necesario que llenes los campos que no quieres modificar.</p>
<div class="row">
  <form class="col m6" action="modificar.php" method="post">
    <div class="row">
      <div class="col m8 input-field">
        <input id="nombre" name="nombre" type="text" class="validate">
        <label for="nombre">Nombre del producto</label>
      </div>
      <div class="col m4 input-field">
        <input value="<?=$precio?>" id="precio" name="precio" type="number" class="validate">
        <label for="precio">Precio</label>
      </div>
    </div>
    <div class="row">
      <div class="col m12 input-field">
        <textarea id="descripcion" name="descripcion" type="text" class="validate materialize-textarea"></textarea>
        <label for="descripcion">Descripción</label>
      </div>
    </div>
    <div class="row">
      <div class="col m12 input-field">
        <input value="<?=$fechaCaducidad?>" id="caducidad" name="caducidad" type="text" class="datepicker">
        <label for="caducidad">Fecha de caducidad</label>
      </div>
    </div>
    <div class="row">
      <p><?=$categoria?></p>
      <div class="input-field col m8">
        <select name="categoria" id="categoria">
          <option value="" disabled>Elige una categoría</option>
          <option value="1" <?php if($_SESSION['categoria']=='comida') echo "selected";?>>Comida</option>
          <option value="2" <?php if($_SESSION['categoria']=='bebida') echo "selected";?>>Bebida</option>
          <option value="3" <?php if($_SESSION['categoria']=='postre') echo "selected";?>>Postre</option>
        </select>
        <label>Categoría</label>
      </div>
      <div class="switch col m4">
        <p>Disponible</p>
        <label>
          No
          <input name='disponible' id="disponible" type='hidden' value='0' <?php if($_SESSION['disponible']=='no') echo "checked";?>>
          <input type="checkbox" name="disponible" id="disponible" value='1' <?php if($_SESSION['disponible']=='sí') echo "checked";?>>
          <span class="lever"></span>
          Sí
        </label>
      </div>
    </div>

    <button class="btn waves-effect waves-light indigo lighten-1" type="submit" name="submit">Modificar</button>
  </form>
</div>
<div class="row">
  <div class="col m6">
    <a class='waves-effect waves-light btn-small red lighten-1' href='modificar.php'>Cancelar</a>
  </div>
</div>
