<h2>Lab 14: consultas dinámicas a la BD</h2>

<br>
<h3 class="indigo lighten-1 white-text">Consultas:</h3>

<br>
<h4>Productos</h4>
<div class="row">
  <div class="col m6">
    <?=$table1?>
  </div>
</div>

<br>
<h4>Productos disponibles por nombre</h4>
<p>Muestra todos los productos 'disponibles' con el nombre indicado.</p>
<div class="row">
    <form class="col m6" action="controller.php" method="post">
      <div class="input-field">
        <input placeholder="Runners" id="producto" name="producto" type="text" class="validate">
        <label for="precio">Producto</label>
      </div>
      <button class="btn waves-effect waves-light indigo lighten-1" type="submit" name="submit">Ok</button>
    </form>
  <div class="col m6">
    <?=$table2?>
  </div>
</div>


<br>
<h4>Productos por precio</h4>
<p>Muestra todos los productos con precio igual o menor al indicado.</p>
<div class="row">
    <form class="col m6" action="controller.php" method="post">
      <div class="input-field">
        <input placeholder="10" id="precio" name="precio" type="number" class="validate">
        <label for="precio">Precio</label>
      </div>
      <button class="btn waves-effect waves-light indigo lighten-1" type="submit" name="submit">Ok</button>
    </form>
  <div class="col m6">
    <?=$table3?>
  </div>
</div>

<section  id="preguntas">
  <h3 class="indigo lighten-1 white-text">Preguntas:</h3>
  <ul class="collection">
    <li class="collection-item">
      <strong>¿Qué es ODBC y para qué es útil?</strong>
      <ul>
        <li>"Open DataBase Connectivity (ODBC) es un estándar de acceso a las bases de datos desarrollado por SQL Access Group (SAG) en 1992." [1]</li>
        <li>Sirve para poder acceder a cualquier registro de una base de datos desde cualquier aplicación, sin importar el gestor de bases de datos que se use.</li>
      </ul>
    </li>

    <li class="collection-item">
      <strong>¿Qué es SQL Injection?</strong>
      <ul>
        <li>Es una técnica de inyección de datos que puede destruir tu DB, es una de las técnicas más comunes en web hacking. Mediante un input se pone código malvado SQL en tu página.</li>
        <li>[2]</li>
      </ul>
    </li>

    <li class="collection-item">
      <strong>¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</strong>
      <ul>
        <li>Usar parámetros de SQL para protección. Son valores que se agregan a un query en tiempo de ejecución de forma controlada. El motor de SQL checa cada parámetro para asegurar que es correcto para su columna y que se trate literalmente, no como parte del SQL que se va a ejecutar.</li>
        <li>[2]</li>
      </ul>
    </li>
  </ul>
</section>

<footer id="referencias">
  <h3 class="indigo-text">Referencias:</h3>
  <p>[1] https://es.wikipedia.org/wiki/Open_Database_Connectivity</p>
  <p>[2] https://www.w3schools.com/sql/sql_injection.asp</p>
</footer>
