<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Preguntas</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <h1>Preguntas</h1>

        <?php if (isset($name)) : ?>
            <h2>Hola, <?= htmlspecialchars($name); ?>, estas son las preguntas:</h2>
            <div class="preguntas">
              <strong>¿A qué se refiere la descentralización de servicios web?</strong>
              <li>Cuando los servicios web están conectados unos con otros, pero no todos al mismo. [1]</li>
              <br>
              <strong>¿Cómo puede implementarse un entorno con servicios web disponibles aún cuando falle un servidor?</strong>
              <li>Usando servicios web descentralizados para que sean tan independientes los servicios como se pueda. [1]</li>
            </div>
            <?php if (isset($ciudad)) : ?>
              <strong><p>Aquí hay una imagen de una ciudad:</p></strong>
              <img src="http://localhost:8888/daw_labs_a01702863/Lab25/Lab25_servicio/public/img/sf.jpeg" alt="Foto de San Francisco">
            <?php endif; ?>
            <div class="referencias">
              <h2>Referencias</h2>
              <p>
                [1] https://omicrono.elespanol.com/2018/01/que-es-el-internet-descentralizado/
              </p>
        <?php else: ?>
            <p>Intenta agregar tu nombre al URL para ver las preguntas <br>o en vez de tu nombre'SanFrancisco' para ver qué pasa.</p>
        <?php endif; ?>

        </div>
    </body>
</html>
