<div class="container">

  <header>
    <h1 class="indigo-text">Lab 13. Sesiones con php</h1>
  </header>

  <section>
    <h3 class="indigo lighten-1 white-text">Inicio de sesión</h3>
    <p><span class="error">* campo obligatorio</span></p>

    <form method="POST" action="lab13_controller.php">
      <div class="row">

        <div class="col m6">
          <div class="row">
            <div class="input-field col m12">
              <span class="error">* <?php echo $nombreErr;?></span>
              <input type="text" name="nombre" value="<?php echo $nombre;?>">
              <label for="nombre">Nombre</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col m6">
              <span class="error">* <?php echo $usuarioErr;?></span>
              <input type="text" name="usuario" value="<?php echo $usuario;?>">
              <label for="usuario">Usuario</label>
            </div>
            <div class="input-field col m6">
              <span class="error">* <?php echo $pwdErr;?></span>
              <input type="password" name="pwd" value="<?php echo $pwd;?>">
              <label for="pwd">Password</label>
            </div>
          </div>
        </div>

      </div>

      <button class="btn waves-effect waves-light indigo lighten-1" type="submit" name="submit">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </section>

</div>
