<div class="container">

  <header>
    <h1 class="indigo-text">Bienvenid@ <?=$nombre?></h1>
  </header>

  <section>
    <h3 class="indigo lighten-1 white-text">Subir foto</h3>
    <form action="upload.php" method="post" enctype="multipart/form-data">
        <p><strong>Selecciona una imagen:</strong></p>
        <input type="file" name="fileToUpload" id="fileToUpload">
        <br><br>
        <button class="btn waves-effect waves-light indigo lighten-1" type="submit" name="submit">Subir imagen
          <i class="material-icons right">send</i>
        </button>
    </form>
  </section>

  <section>
    <h3 class="indigo lighten-1 white-text">Ver foto</h3>
    <p><strong>Haz click en el siguiente botón para ver las fotos que subiste:</strong></p>
    <button class="btn waves-effect waves-light indigo lighten-1" type="button" onclick="location.href='photo_controller.php'">Ver mis fotos
      <i class="material-icons right">photo</i>
    </button>
  </section>


  <section>
    <h3 class="indigo lighten-1 white-text" id="preguntas">Preguntas:</h3>
    <ul class="collection">
      <li class="collection-item">
        <strong>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</strong>
        <ul>
          <li>Porque las variables globales de sesión ocupan espacio y si ya no las estás usando pues hay que liberar ese espacio. Lo que hacen estas funciones es quitar todas las variables globales de sesión y destruir la sesión.</li>
        </ul>
      </li>

      <li class="collection-item">
        <strong>¿Cuál es la diferencia entre una variable de sesión y una cookie?</strong>
        <ul>
          <li>Una sesión se usa para guardar información en variables para que se pueda usar esta en múltiples páginas. Por otro lado, una cookie guarda la información en la computadora del usuario.</li>
          <li>[1]</li>
        </ul>
      </li>

      <li class="collection-item">
        <strong>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</strong>
        <ul>
          <li>Cuando subes un archivo lo renombra porque es muy probable que alguien más ya haya usado el nombre que tú le diste a tu archivo. No importa que nombre le hayas dado, lo va a cambiar por uno que sigue una secuencia de caracteres único en cada archivo (no sé qué secuencia sigan, pero es un nombre larguísimo que garantiza unicidad).</li>
        </ul>
      </li>

      <li class="collection-item">
        <strong>¿Qué es CSRF y cómo puede prevenirse?</strong>
        <ul>
          <li>Cross-Site Request Forgery</li>
          <li>Ocurre cuando un sitio web deja que un usuario no autenticado realice alguna acción sin verificar que ese usuario esté invocando esa acción. [2]</li>
          <li>Usando un cookie secreto, solo aceptar POST (no GET), usando transacciones de varios pasos, sobreescribir el URL, usar HTTPS. [3]</li>
        </ul>
      </li>
    </ul>
  </section>

  <footer>
    <h3 class="indigo-text" id="referencias">Referencias:</h3>
    <p>[1] https://www.w3schools.com/php/php_sessions.asp</p>
    <p>[2] https://medium.com/@GemmaBlack/csrf-the-a-z-2b85d26438b</p>
    <p>[3] https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)</p>
  </footer>

</div>
