<div class="container">

  <header>
    <h2 class="indigo-text">Imágenes de <?=$nombre?></h2>
  </header>

  <section>
    <h4 class="indigo lighten-1 white-text">Estas son las imágenes que has subido:</h4>
    <?=$photos?>

    <button class="btn waves-effect waves-light indigo lighten-1" type="button" onclick="location.href='main_controller.php'">Ok</button>
    <br><br>
  </section>

</div>
