<div class="container">

  <header>
    <h2 class="indigo-text">Subida de imágenes finalizada</h2>
  </header>

  <section>
    <h4 class="indigo lighten-1 white-text">Estado de las imágenes de <?=$nombre?></h4>
    <p class="<?=$color?> lighten-2"><?=$message?></p>

    <button class="btn waves-effect waves-light indigo lighten-1" type="button" onclick="location.href='main_controller.php'"><?=$button_name?></button>
  </section>

</div>
