<div class="container">
    <h1 class="center">Iniciar sesión</h1>
    <div class="row middle">
        <div class="row">
            <div class="col m6 offset-m3 red lighten-1">
                <div class="container"><?=$error?></div>
            </div>
        </div>
        <div class="row">
            <form class="col m6 offset-m3" action="login.php" method="post">
                <div class="row">
                    <div class="input-field col m12">
                      <input id="usuario" name="usuario" type="text" class="validate">
                      <label for="usuario">Usuario</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m12">
                      <input id="contrasena" name="contrasena" type="password" class="validate">
                      <label for="contrasena">Contraseña</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" name="submit">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>