<div class="container">
    <h1 class="center">¡Hola, <?=$_SESSION['usuario']?>!</h1>
    <div class="row middle">
        <div class="row">
            <div class="col m6 offset-m3 green lighten-1">
                <div class="container">
                    <p class="center">Ingresa el código:</p>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="col m6 offset-m3" action="principal.php" method="post">
                <div class="row">
                    <div class="input-field col m12">
                      <input id="codigo" name="codigo" type="text">
                      <label for="codigo">Código</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" name="submit">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>