<div class="container">
    <h1 class="center">Reportes</h1>
    <div class="row">
        <div class="row">
            <div class="col m3 offset-m2">
                <a onclick="getReportes('total')" class="waves-effect waves-light btn">Registros Totales</a>
            </div>
            <div class="col m3">
                <a onclick="getReportes('fail')" class="waves-effect waves-light btn">System Failures</a>
            </div>
            <div class="col m3">
                <a onclick="getReportes('contar')" class="waves-effect waves-light btn">Success vs. Failure</a>
            </div>
        </div>
        <div class="row">
            <div class="col m12">
                <div id="reporte"></div>
            </div>
        </div>
    </div>
</div>